@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p>LinkedIn - <a href="https://www.linkedin.com/in/vinicius-costa-0330101a4/">Vinicius Costa</a> │ GitHub - <a href="https://github.com/VinicCosta">VinicCosta</a></p>
</div>
